{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/plants/plant-detail.css' %}" />
{% endblock %}
{% block content %}
  <div class="page-layout">
    <div class="left-column">
      <div class="card-container">
        <div class="card">
          <div class="card mb-3">
            <h3 class="card-header">{{ plant.name }}</h3>
            <img src="{{ plant.image }}" alt="Your Image Description" class="d-block user-select-none" width="100%" height="100%" style="object-fit: cover;" />
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Species: {{ plant.species }}</li>
              <li class="list-group-item">Date_added: {{ plant.date_added }}</li>
            </ul>
            <div class="card-body">
              <p class="card-text">Description: {{ plant.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-column">
      <div class="card border-dark mb-3" style="max-width: 20rem;">
        <div class="card-header">Add a Watering</div>
        <form  action="{% url 'add-watering' plant.id %}" method="post" class="subsection-content" autocomplete="off">
          {% csrf_token %} 
          {{ watering_form.as_p }}
          <button type="submit" class="btn btn-primary">Add Watering</button>
        </form> 
        <br/>
        <div class="card-header">Wateringr Log</div>
        <div class="card-body">
      {% if plant.watering_set.all.count %}
          <ul>
      {% for watering in plant.watering_set.all %}
          <li class="card-title">{{watering.water_amount}} ml on {{watering.date}}</li>
      {% endfor %}
          </ul>
        </div>
      {% else %}
        <div class="subsection-content">
        <p>⚠️ {{plant.name}} has not been watered!</p>
        </div>
      {% endif %}
      </div>

      <div class="card border-dark mb-3" style="max-width: 20rem;">
        <a href="{% url 'plant-update' plant.id %}" class="btn btn-info">Edit</a>
        <br>
        <a href="{% url 'plant-delete' plant.id %}" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
{% endblock %}
