{% extends 'base.html' %}  
{% load static %} 
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% block content %}
<div class="card-container">
    <div class="card">
<div class="page-header">
  <h1>Delete Plant?</h1>
</div>

<h2>Are you sure you want to delete {{ plant.name }}?</h2>

<form action="" method="post" class="form">
  {% csrf_token %}
  <a href="{% url 'plant-detail' plant.id %}" class="btn btn-info">Cancel</a>
  <button type="submit" class="btn btn-danger">Yes - Delete!</button>
</form>
<div>
    <div> 
{% endblock %}
