{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/plant_2.svg' %}" />
    <title>Plant Collector</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block head %}

    {% endblock %}
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="header-logo-container">
          <a href="/"><img class="navbar-logo" src="{% static 'images/main_logo-removebg-preview.png' %}" alt="The Plant Collector Logo" /></a>
        </div>
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'plant-index' %}">All Plants</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'plant-create' %}">Add a Plant</a>
              </li>
              <li>
                <form id="logout-form" method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button class="nav-link" type="submit">Log out</button>
                </form>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'home' %}">
                  Login
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      {% block content %}

      {% endblock %}
    </main>
  </body>
</html>
